*{
  background-image: linear-gradient(to top right, #78d1fa, #e1fff5);
  background-attachment: fixed;
}

#NavBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App {
  text-align: center;
}
